<bank-navbar></bank-navbar>

<mat-card>
  <h1>Account Information</h1>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput value="{{ user.name }}" disabled />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput value="{{ user.email }}" disabled />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput value="{{ user.mobileNumber }}" disabled />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Account Number</mat-label>
        <input matInput value="{{ account.accountNumber }}" disabled />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Account Type</mat-label>
        <input matInput value="{{ account.accountType }}" disabled />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Branch Address</mat-label>
        <input matInput value="{{ account.branchAddress }}" disabled />
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        class="btn btn-eazybank"
        routerLink="/dashboard"
      >
        BACK
      </button>
    </form>
  </mat-card-content>
</mat-card>
