<div class="home">
  <mat-grid-list cols="6" rowHeight="5:4" gutterSize="30px">
    <mat-grid-tile
      style="background: rgb(199, 189, 189)"
      colspan="1"
      rowspan="1"
    >
      <div class="left-content">
        <span><mat-icon>house</mat-icon></span>
        <p>House Loan</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      style="background: rgb(199, 189, 189)"
      colspan="1"
      rowspan="1"
    >
      <div class="left-content">
        <span><mat-icon>directions_car</mat-icon></span>
        <p>Vehicle Loan</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile style="background: rgb(199, 189, 189)" colspan="1">
      <div class="left-content">
        <span><mat-icon>supervisor_account </mat-icon></span>
        <p>Personal Loan</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      colspan="3"
      rowspan="3"
      style="background: rgb(199, 189, 189)"
    >
      <div class="right-content">
        <h1>Services provided by Bank</h1>
        <p>
          Bank offers a diverse range of financial products and banking services
          to customers through a growing branch and ATM network and digital
          channels such as Netbanking, Phonebanking and MobileBanking.
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="second-row"
      style="background: rgb(199, 189, 189)"
      colspan="1"
    >
      <div class="left-content">
        <span><mat-icon>business</mat-icon></span>
        <p>Business Loan</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="second-row"
      style="background: rgb(199, 189, 189)"
      colspan="1"
    >
      <div class="left-content">
        <span><mat-icon>school</mat-icon></span>
        <p>House Loan</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      class="third-row"
      style="background: rgb(199, 189, 189)"
      colspan="2"
    >
      <div class="left-content">
        <span><mat-icon>health_and_safety</mat-icon></span>
        <p>Health Loan</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<br />
