<bank-navbar></bank-navbar>
<div class="container">
  <div class="head">
    <h1>
      Hi {{ user.name }}
      , Welcome back
    </h1>
  </div>

  <mat-grid-list cols="4">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card" routerLink="/myAccount">
        <mat-card-header>
          <mat-card-title>Account</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>View account details</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/myAccount" color="accent">
            My Account
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card" routerLink="/myBalance">
        <mat-card-header>
          <mat-card-title>Balance</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>View total available balance</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/myBalance" color="accent">
            My Balance
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card" routerLink="/myLoans">
        <mat-card-header>
          <mat-card-title>Loans</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>View Loan Details</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/myLoans" color="accent">
            My Loans
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card" routerLink="/myCards">
        <mat-card-header>
          <mat-card-title>Cards</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>View credit card details</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/myCards" color="accent">
            My Cards
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
