<bank-navbar></bank-navbar>

<div class="container">
  <h2 class="heading-21921">Total Due Amount</h2>
  <div>
    <h1 class="heading-21921" style="font-size: 40px; margin-top: 0">
      {{ currOutstandingAmt | currency }}
    </h1>
  </div>
  <h1 class="heading-21921" style="text-align: left">Card Details</h1>
  <table mat-table [dataSource]="cards" class="mat-elevation-z8">
    <ng-container matColumnDef="cardNumber">
      <th mat-header-cell *matHeaderCellDef>Card Number</th>
      <td mat-cell *matCellDef="let element">{{ element.cardNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="cardType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cardType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalLimit">
      <th mat-header-cell *matHeaderCellDef>Total limit</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalLimit }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amountUsed">
      <th mat-header-cell *matHeaderCellDef>Amount used</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amountUsed }}
      </td></ng-container
    >

    <ng-container matColumnDef="availableAmount">
      <th mat-header-cell *matHeaderCellDef>Available Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.availableAmount }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <button
    mat-raised-button
    style="margin-top: 20px; margin-bottom: 50px"
    color="accent"
    class="btn btn-eazybank"
    routerLink="/dashboard"
  >
    BACK
  </button>
</div>
